footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: auto;
}
footer .images{
    align-self: center;
}
footer img {
    width: 35px;
    height: 35px
}
footer div{
    text-align: center;
}